<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iReporter Sign Up</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <header>
            <h2>iReporter Login</h2>
            
    </header>
    
 <form action="dashboard.html">
	<a href="../index.html">Home</a> | <a href="signup.html">Register Account</a> <br/><br/>
     <div class="input-group">
            
         <label>Username</label>
         <input type="text" name="fname" placeholder="Enter Email or Phone Number" required>
         
     </div>
     <div class="input-group">
            <label>Password</label>
            <input type="password" name="lname" placeholder="Enter Password" required>
    </div>
    
    <div class="input-group">
            <button type="submit" name="submit" class="btn">Login</button>
    </div>

 </form>
</body>
</html>